body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

tr.swim100-fastest > td {
  background-color: rgba(46, 204, 113, 0.25) !important;
}

tr.swim100-slowest > td {
  background-color: rgba(231, 76, 60, 0.25) !important;
}
